section.title
  .container
    .title__wrapper
      .title__info
        p.title__paragraph A place where
        p.title__text A creative agency for redemptive brands
        p.title__notice Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
        a.title__link Get in touch