.title {
  padding-top: 64px;
  min-height: 100vh;
  width: 100%;
  background: url("../images/title/title-bcg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__info {
    width: 50%;
    margin-left: 55px;

    @include media-breakpoint-down(xs) {
      width: 90%;
      margin-left: 20px;
      text-align: center;
    }
  }

  &__paragraph {
    font-size: 14px;
    line-height: 21px;
    color: $white;
    margin-top: 130px;
  }

  &__text {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    color: $white;
    margin-top: 22px;

    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 25px;
    }
  }

  &__notice {
    font-size: 16px;
    line-height: 1.5;
    color: $white;
    margin-top: 24px;

    @include media-breakpoint-down(sm) {
      font-size: 15px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: $link-color;
    margin-top: 45px;

    &:hover {
      color: $white;
    }
  }
}
