.projects {

  &__preview {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    color: $dark;
    max-width: 350px;
    margin-right: 133px;

    @include media-breakpoint-down(md) {
      font-size: 28px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      margin-right: 50px;
    }

    @include media-breakpoint-down(xs) {
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.6;
    color: $dark;
    max-width: 518px;

    @include media-breakpoint-down(sm) {
      width: 60%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      margin-top: 30px;
    }
  }

  &__item {
    display: flex;
    margin-top: 110px;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      width: 100%;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      .projects__review {
        transform: translate(-40px, 70px);
        left: 0;

        @include media-breakpoint-down(sm) {
          transform: translate(-40px, 70px);
        }
      }
    }

    &:nth-child(odd) {
      .projects__review {
        transform: translate(40px, 70px);
        right: 0;

        @include media-breakpoint-down(sm) {
          transform: translate(50px, 50px);
        }
      }
    }

    & + & {
      margin-top: 180px;

      @include media-breakpoint-down(sm) {
        margin-top: 100px;
      }
    } 
  }

  &__info {
    width: 35%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__paragraph {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    color: $dark;
    margin-top: 70px;

    @include media-breakpoint-down(md) {
      font-size: 25px;
    }

    @include media-breakpoint-down(sm) {
     text-align: center;
     margin-top: 120px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    margin-top: 24px;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #D4D6D4;
    margin-top: 50px;

    @include media-breakpoint-down(sm) {
      
    }
  }

  &__content {
    width: 60%;
    position: relative;
  }

  &__review {
    padding: 30px;
    background: $white;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
    max-width: 453px;
    position: absolute;
    bottom: 0;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }

  &__opinion {
    font-style: italic;
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 390px;
  }

  &__person {
    display: flex;
    margin-top: 24px;
  }

  &__card {
    margin-left: 14px;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $dark;
  }

  &_prof {
    font-size: 14px;
    line-height: 21px;
    color: #152934;
    margin-top: 4px;
  }

  &__pic {
    width: 100%;
  }
}
