.projects {

  &__preview {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: $dark;
    max-width: 350px;
    margin-right: 133px;
  }

  &__desc {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 518px;
  }

  &__item {
    display: flex;
    margin-top: 110px;
    justify-content: space-between;
    align-items: center;

    &:nth-child(even) {
      flex-direction: row-reverse;

      .projects__review {
        transform: translate(-40px, 70px);
        left: 0;
      }
    }

    &:nth-child(odd) {
      .projects__review {
        transform: translate(40px, 70px);
        right: 0;
      }
    }

    & + & {
      margin-top: 180px;
    }
  }

  &__info {
    width: 35%;
  }

  &__paragraph {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $dark;
    margin-top: 70px;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    margin-top: 24px;
  }

  &__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #D4D6D4;
    margin-top: 50px;
  }

  &__content {
    width: 60%;
    position: relative;
  }

  &__review {
    padding: 30px;
    background: $white;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
    max-width: 453px;
    position: absolute;
    bottom: 0;
  }

  &__opinion {
    font-style: italic;
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 390px;
  }

  &__person {
    display: flex;
    margin-top: 24px;
  }

  &__card {
    margin-left: 14px;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $dark;
  }

  &_prof {
    font-size: 14px;
    line-height: 21px;
    color: #152934;
    margin-top: 4px;
  }
}
