mixin listItem(args={})
  .footer__column
    p.footer__title= args.title
    ul
      each link in args.links
        li.footer__list= link

footer.footer
  .container
    .footer__wrapper
      .footer__row 
        .footer__item
          p.footer__paragraph Phone
          p.footer__notice +32 50 31 28 32
        .footer__item
          p.footer__paragraph Address
          p.footer__notice 491 Merlin Crest Suite 963
      hr
      .footer__box
        .footer__items
          each item in footer.items
            +listItem(item)
        .footer__contacts
          p.footer__title Get in Touch
          p.footer__desc Feel free to get in touch with us vai email
          p.footer__email info.webovio@gmail.com
      hr
      .footer__company
        img.footer__logo(src="images/header/logo.png", alt="logo")
        p.footer__info © 2020@webovio. All Rights Reserved.

