footer.footer
  .container
    .footer__wrapper
      .footer__row 
        .footer__item
          p.footer__paragraph Phone
          p.footer__notice +32 50 31 28 32
        .footer__item
          p.footer__paragraph Address
          p.footer__notice 491 Merlin Crest Suite 963
      hr
      .footer__box
        .footer__items
          .footer__column
            p.footer__title Services
            ul
              li.footer__list Strategy Design
              li.footer__list Product Design
              li.footer__list Content Strategy
              li.footer__list Brand Strategy
              li.footer__list Development
          .footer__column
            p.footer__title Help And Advice
            ul
              li.footer__list How it works
              li.footer__list Contact Support
              li.footer__list Privacy Policy
              li.footer__list FAQ
          .footer__column
            p.footer__title Company
            ul
              li.footer__list About
              li.footer__list Blog
              li.footer__list Contact
              li.footer__list Jobs
        .footer__contacts
          p.footer__title Get in Touch
          p.footer__desc Feel free to get in touch with us vai email
          p.footer__email info.webovio@gmail.com
      hr
      .footer__company
        img.footer__logo(src="images/header/logo.png", alt="logo")
        p.footer__info © 2020@webovio. All Rights Reserved.

