.footer {
  background: url("../images/footer/footer-bcg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin-top: 310px;

  @include media-breakpoint-down(sm) {
    margin-top: 150px;
  }

  &__row {
    display: flex;
    margin-top: 250px;
    margin-bottom: 52px;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      text-align: center;
      margin-top: 180px;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      margin-top: 120px;
    }
  }

  &__item {
    display: flex;

    @include media-breakpoint-down(xs) {
      justify-content: center;
      flex-wrap: wrap;
    }

    &+& {
      margin-left: 10%;

      @include media-breakpoint-down(xs) {
        margin-left: 0;
      }
    }
  }

  &__box {
    display: flex;
    margin-top: 60px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__items {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      width: 100%;
      justify-content: space-around;
    }

    @include media-breakpoint-down(xs) {
      justify-content: flex-start;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: $green;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }

    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }

  &__notice {
    font-weight: 700;
    font-size: 16px;
    line-height: 2.5;
    color: $white;
    margin-left: 10px;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }

    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }

  &__column {
    width: 50%;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 2.4;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 21px;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }

  &__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: $green;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: $green;
  }

  &__email {
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: $white;
    margin-top: 23px;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 15px;
    }
  }

  &__company {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $green;

    @include media-breakpoint-down(sm) {
      margin-top: 25px;
    }
  }

  hr {
    border: 0.5px solid $green;
  }

  &__contacts {
    margin-left: 110px;
    max-width: 322px;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
      text-align: center;
    }


    @include media-breakpoint-down(sm) {
      text-align: center;
      margin: 0 auto;
    }
  }

  &__logo {

    @include media-breakpoint-down(sm) {
      max-width: 50%;
    }
  }
}
