section.product
  .container
    .product__wrapper
      p.product__title Deation & Evaluation - Best Way to Kick off Your Product Idea
      .product__box
        .product__item
          p.product__paragraph Product Design Sprint
          p.product__desc A five-day workshop that will help you answer crucial business questions
          a.product__link(href="#") Read More
        .product__item
          p.product__paragraph Scoping Session
          p.product__desc A workshop aimed at shaping your business idea, answering questions regarding project planning
          a.product__link(href="#") Read More
        .product__item
          p.product__paragraph UX <br> Review
          p.product__desc An evaluation which will help you radically improve your product.
          a.product__link(href="#") Read More
        .product__item
          p.product__paragraph Code <br> Review
          p.product__desc Do you know what one of the key secrets of success is what makes people successful in business
          a.product__link(href="#") Read More
      .product__row
        p.product__notice Let’s make something amazing together.
        a.product__link(href="#") Let's get started