mixin item(args={})
  .product__item
    p.product__paragraph= args.paragraph
    p.product__desc= args.desc
    a.product__link(href="#") Read More

section.product
  .container
    .product__wrapper
      p.product__title Deation & Evaluation - Best Way to Kick off Your Product Idea
      .product__box
        each item in product.items
          +item(item)
      .product__row
        p.product__notice Let’s make something amazing together.
        a.product__link(href="#") Let's get started