.product {
  padding-top: 50px;
  margin-top: 125px;

  @include media-breakpoint-down(md) {
    margin-top: 100px;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 20px;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.28;
    color: $dark;
    max-width: 607px;

    @include media-breakpoint-down(md) {
      font-size: 25px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 20px;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__box {
    display: flex;
    margin-top: 87px;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      margin-top: 30px;
    }
  }

  &__item {
    max-width: 16%;

    @include media-breakpoint-down(md) {
      max-width: 45%;
      margin-top: 40px;
    }

    @include media-breakpoint-down(xs) {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  &__paragraph {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $dark;

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 17px;
    }
  }

  &__desc {
    font-size: 15px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-top: 20px;
  }

  &__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #D4D6D4;
    margin-top: 30px;

    &:hover {
      color: #FFD723; //
    }
  }

  &__row {
    padding: 70px;
    padding-left: calc((100vw - 1130px) / 2);
    width: calc(100vw - (100vw - 1130px) / 2);
    background: $white;
    position: absolute;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    right: 0;
    transform: translateY(50%);

    @include media-breakpoint-down(lg) {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    @include media-breakpoint-down(sm) {
      padding: 50px;
    }

    @include media-breakpoint-down(xs) {
      padding: 30px;
    }
  }

  &__notice {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    color: $dark;
    max-width: 822px;

    @include media-breakpoint-down(lg) {
      margin: 0 auto;
    }

    @include media-breakpoint-down(md) {
      font-size: 40px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 25px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 19px;
    }
  }
}
