include /src/common/components/layout

+layout('Home page')
  include sections/title/index
  include sections/strategy/index
  include sections/project/index
  include sections/model/index
  include sections/booking/index
  include sections/product/index
