section.strategy
  .container
    .strategy__wrapper
      .strategy__sponsors
        img(src="images/sponsors/sponsor1.png" alt="sponsor1")
        img(src="images/sponsors/sponsor2.png" alt="sponsor2")
        img(src="images/sponsors/sponsor3.png" alt="sponsor3")
        img(src="images/sponsors/sponsor4.png" alt="sponsor4")
        img(src="images/sponsors/sponsor5.png" alt="sponsor5")
      .strategy__info
        .strategy__box
          p.strategy__paragraph What we do for you
          p.strategy__main Strategy. Design  Content. Technology Development 
          p.strategy__desc There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
          a.strategy__link(href="#") More know About us
        .strategy__review
          p.strategy__text With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
          .strategy__user
            img.strategy__icon(src="images/strategy/icon.png", alt="icon")
            .strategy__person
              p.strategy__name Genevieve Rodriquez
              p.strategy__prof Founder & CEO, Webovio
      hr