.strategy {

  &__wrapper {
    position: relative;
  }

  &__sponsors {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    position: absolute;
    transform: translateY(-50%);
    background-color: $white;
    width: calc(100vw - (100vw - 1130px) / 2);

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      width: 100%;
    }

    @include media-breakpoint-down(xs) {
     padding-top: 20px;
     padding-bottom: 20px; 
    }
  }

  &__logo {

    @include media-breakpoint-down(md) {
      max-width: 15%;
    }    

    @include media-breakpoint-down(xs) {
      max-width: 30%;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__box {
    width: 40%;
    padding-top: 230px;
    
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 200px 20px 100px;
    }
  }

  &__review {
    max-width: 474px;
    padding: 230px 40px 30px;
    background: #FFFFFF;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 100px 20px 100px 20px;
      margin: 0 auto;
    }
  }

  &__paragraph {
    font-size: 14px;
    line-height: 21px;
    color: $dark;
  }

  &__main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.28;
    color: $dark;
    margin-top: 29px;

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
    
    @include media-breakpoint-down(sm) {
      font-size: 25px;
      text-align: center;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    margin-top: 35px;
  }

  &__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #D4D6D4;
    margin-top: 42px;
  }

  &__text {
    font-style: italic;
    font-size: 24px;
    line-height: 1.67;
    color: $dark;

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &__user {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }

  &__icon {
    margin-right: 30px;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
    border-radius: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    color: $dark;

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &__prof {
    font-size: 16px;
    line-height: 24px;
    color: $dark;
    margin-top: 6px;

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  hr {
    border: 1px solid #D4D6D4;
    margin: 150px auto;
    width: 100%;

    @include media-breakpoint-down(md) {
      margin: 50px auto;
    }
  }

}
