section.model 
  .container
    .model__wrapper
      .model__info
        p.model__paragraph Is this the future of 3D model?
        p.model__text While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.
        p.model__text It is those feelings that drive our love of astronomy and our desire to learn more and more about it. 
        a.model__link(href="#") See Case Study
      .model__items
        img.model__img(src="images/model/model-img.png" alt="img")
        .model__review
          p.model__opinion “I know they are going to be honest with me. I am not going to get a subpar product; I know it is going to be good. That is the number one advantage of working with Exhibit Systems.
          .model__person
            img(src="images/model/model-logo.png" alt="logo")
            .model__card
              p.model__name Lina Hart
              p.model__prof Founder & CEO, Jico  