.model {
  padding-top: 200px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
 }

  &__info {
    width: 35%;
  }

  &__paragraph {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $dark;
    margin-top: 70px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    margin-top: 24px;
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #D4D6D4;
    margin-top: 50px;
  }

  &__items {
    width: 60%;
    position: relative;
  }

  &__review {
    padding: 30px;
    background: $white;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
    max-width: 453px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-40px,70px);
    
  }

  &__opinion {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 390px;
  }

  &__person {
    display: flex;
    margin-top: 24px;
  }

  &__card {
    margin-left: 14px;
  }

  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $dark;
  }

  &_prof {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #152934;
    margin-top: 4px;
  }
}