section.project
  .container
    .project__wrapper
      .project__row
        p.project__title We Have Some Awesome Project.
        p.project__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      .project__box 
        .project__items
          img.project__img(src="images/project/project.png", alt="img")
          .project__review
            p.project__opinion “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
            .project__person
              img(src="images/project/logo.png", alt="logo")
              .project__card
                p.project__name Angel Armstrong
                p.project__prof Founder & CEO, Google  
        .project__info
          p.project__paragraph The wall new Balenciaga.com
          p.project__text This article is floated online with an aim to help you find the best dvd printing solution.
          p.project__text Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
          a.project__link(href="#") See Case Study
      