section.booking
  .container
    .booking__wrapper
      .booking__items
          img.booking__img(src="images/booking/booking-img.png", alt="img")
          .booking__review
            p.booking__opinion “Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”
            .booking__person
              img(src="images/booking/booking-logo.png", alt="logo")
              .booking__card
                p.booking__name Eunice Oliver
                p.booking__prof Founder & CEO, Zeem  
      .booking__info
        p.booking__paragraph  Is this the future of Online Booking
        p.booking__text You should be able to find several indispensable facts about motivation in the following paragraphs.
        p.booking__text If there’s at least one fact you didn’t know before, imagine the difference it might make.
        a.booking__link(href="#") See Case Study